header {
    background-color: #1a1a1a;
    color: #d9d9d9;
}

.sidebar {
    background-color: #2d2d2d;
    color: #d9d9d9;
}

.sidebar li:hover {
    background-color: #1f1f1f;
}

.main-content {
    background-color: #262626;
    color: #d9d9d9;
}

.task-form button {
    background-color: #4d4d4d;
}

.task-form button:hover {
    background-color: #3d3d3d;
}

body {
    background-color: #1c1c1c;
}

.container {
    background-color: #1c1c1c;
}